.CnC h2 {
  padding-top: 200px;
  padding-bottom: 30px;
}

.CnC b {
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.CnC h3 {
  padding: 150px 0 50px 0;
}

.paddingright100 {
  padding-right: 100px;
}

.web-analyze img {
  padding-top: 50px;
  min-width: 73vw;
  position: relative;
  /* left: -100px; */
}

.CnC .storyboard img {
  min-height: 550px;
}

.CnC .storyboard h3 {
  padding-top: 50px;
}

.CnC .sketch img {
  padding-right: 7px;
  min-height: 400px;
}

.CnCSitemap {
  max-height: 500px;
}

.web-box {
  display: grid;
  grid-template-columns: 15% 85%;
}

.CnC .wireframe img {
  max-width: 135px;
}

/* input[type=checkbox] {
  display: none;
}

.CnC .wireframe img {
  max-width: 200px;
  transition: transform 0.25s ease;
  cursor: zoom-in;
}

input[type=checkbox]:checked ~ label > img {
  transform: scale(4);
  cursor: zoom-out;
} */

.scroll-box {
  display: block;
  width: 65vw;
  overflow: auto;
}

.sb1 {
  height: 584px;
}

.sb2 {
  height: 569px;
}

.sb3 {
  height: 602px;
}

.sb4 {
  height: 397px;
}

.scroll-box img {
  width: 65vw;
}

.solution-intro img {
  max-width: 800px;
  padding: 0 0 100px 0;
}

/* mobile-friendly */

@media (min-width: 280px) and (max-width: 425px)
{
  .solution-intro img {
    max-width: 280px;
  }

  .web-analyze img {
    max-width: 270px;
  }

  .CnC .storyboard img,
  .CnC .sketch img {
    min-height: auto;
  }

  .ordered-center {
    padding-left: 20px;
  }

  .wireframe {
    display: none;
  }

  .scroll-box {
    width: 88vw;
  }

  .scroll-box img {
    width: 88vw;
  }
}

@media (min-width: 426px) and (max-width: 768px)
{
  .ordered-center {
    padding-left: 20px;
  }

  .solution-intro img {
    max-width: 90vw;
  }
}