
/* Menu */

.Menu {
    width: 100%;
    display: block;
    text-align: center;
    padding: 0px;
    background-color: transparent;
}
.Menu li, .Menu li a {
  position: relative;
  top: 0px;
  font-size: 2rem;
  padding: 0px;
  color: #fff !important;
  background-color: transparent;
}
.Menu li {
  list-style: outside none none;
  margin: 10px 0px;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
}
.Menu li:hover, .Menu li a:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

.popup-overlay {
  animation: fadeIn 0.25s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.nav-link {
  color: #f4f1e7;
  text-decoration: none;
}