@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  /* font-family: 'Red Rose', sans-serif; */
  /* font-family: 'youngserif', sans-serif; */
  /* font-family: 'Cormorant', sans-serif; */
  /* font-variant-ligatures: none; */
  /* background-color: #f7f5f1; */
  overflow-x: none;
  color: #22223B;
  background-color: transparent;
}

.App {
  background-color: #F2E9E4;
}

/* html, body {
  cursor: none;
} */

body {
  margin: 0;
  font-family: 'Red Rose', sans-serif;
  font-size: 20px;
  /* background-color: #f4f1e7; */
  /* padding-left: 40px;
  padding-right: 40px; */
  overflow-x: hidden;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

h1, h2, h3, h4 {
  font-family: 'Red Rose', sans-serif;
  font-weight: normal;
}

div, p, b, li, i, h1, h2, h3, h4 {
  background-color:transparent;
}

p, ul, li, i, b, blockquote {
  font-size: 17px;
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  /* color: #000000; */
  /* font-family: 'Bellota Text', sans-serif; */
  /* font-weight: normal; */
  line-height: 1.8;
  /* letter-spacing: 0.5px; */
}

.project-content li,
.project-body li {
  /* color: #6d6d6d; */
  color: #2e282c;
}

.Menu li, .Menu li a {
  font-family: 'Red Rose', sans-serif;
  font-weight: lighter;
  font-size: 40px;
  color: #f4f1e7;
}

footer address .copyright {
  font-size: 16px;
  color: #B48AB2;
  padding-top: 100px;
  padding-bottom: 30px;
  /* text-align: right;
  padding-right: 50px; */
  text-align: center;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

.Navbar {
  padding: 50px 0 20px 0;
  /* padding-left: 80px; */
  display: flex;
  /* display: grid;
  grid-template-columns: 50% 50%; */
  justify-content: space-between;
  align-items: center;
  /* margin-left: 0.5em; */
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: top 0.6s;
  /* margin-left: -40px; */
}

.App .Navbar {
  background-color: #F2E9E4;
}

.Navbar--hidden {
  top: -100px;
}

.Logo {
  background-color: transparent;
  padding-left: 80px;
}

.Logo a {
  font-family: 'Red Rose', sans-serif;
  font-size: 35px;
  font-weight: lighter;
}

a {
  background-color: transparent;
}

.Hamburger {
  background-color: transparent;
}

.Greeting {
  /* padding: 70px 100px 50px 100px; */
  padding: 250px 100px 0px 100px;
  font-family: 'Red Rose', sans-serif;
  font-weight: lighter;
  font-size: 100px;
  text-align: center;
  line-height: 110%;
  /* color: #22223B; */
}

.Greeting strike {
  font-family: 'Red Rose', sans-serif;
  font-weight: lighter;
}

.Greeting b {
  font-family: 'Red Rose', sans-serif;
  font-size: 100px;
  color:#B48AB2;
  font-weight: 500;
}

.featuredintro,
.featuredintro b {
  font-family: 'Red Rose', sans-serif;
  font-size: 60px;
  padding-bottom: 100px;
  line-height: 120%;
  color:#B48AB2;
  padding-top: 250px;
}

.featuredintro  {
  font-weight: lighter;
}

.featuredintro b {
  font-weight: 500;
  color:#B48AB2;
}

.featuredintro u {
  font-family: 'Red Rose', sans-serif;
  font-weight: 500;
}

.smile {
  margin-top: -50px;
  margin-left: 400px;
  background-color: transparent;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  50% {
    transform: rotate(50deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.subhead {
  padding: 50px 400px 50px 500px;
  text-align: right;
  margin-top: -150px;
}

.subhead p, .subhead b {
  color: #B48AB2;
  margin-block-start: 0;
  margin-block-end: 0;
}

.star {
  margin-top: -150px;
  margin-left: 870px;
  background-color: transparent;
}

.arrow-down {
  padding-bottom: 100px;
}

.line {
  padding-bottom: 150px;
}

#wording {
  font-size: 18px;
  padding: 10px;
  margin-left: 10px;
  border: 1px solid;
  /* position: fixed; */
}

/* .wrapper {
  width: 960px;
  margin: auto;
  position: relative;
  margin-top: 40px;
} */

ul {
  padding-inline-start: 0;
}

.work-list li {
  padding-bottom: 150px;
}

.work-list li img {
  max-width: 380px;
  margin-bottom: 30px;
}

#li-text1 {
  line-height: 100%;
}

.project-textbox {
  background-color: #22223B;
  padding: 20px;
  margin-right: 220px;
}

.project-textbox p {
  color: #F2E9E4;
}

.project-main-role {
  letter-spacing: 4px;
  text-transform: uppercase;
}

.project-img {
  padding-left: 150px;
}

.project-description {
  padding-left: 150px;
  padding-top: 50px;
}

.project-link {
 margin-bottom: -350px; 
 margin-left: 615px;
 position: relative;
}

.project-link:hover {
  animation: allroundrotation 4s infinite linear;
}

@keyframes allroundrotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.text {
  font-family: 'Work Sans';
}

.mainpagetitle {
  padding-left: 190px;
  padding-bottom: 40px;
  font-size: 30px;
}



/* Burger */

.burger-menu,
.burger-menu.open {
  display: inline-block;
  cursor: pointer;
  position: relative;
  /* right: 20px; */
  /* bottom: 40px; */
  z-index: 9999;
  /* background: #fff; */
  padding-right: 20px;
  border-radius: 25px;
  background-color: transparent;
  /* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3); */
}

.burger-menu .bar1,
.bar2 {
  width: 40px;
  height: 2px;
  background-color: #22223B;
  margin: 9px 0;
  transition: 0.4s;
}

.burger-menu.open .bar1 {
  -webkit-transform: rotate(-30deg) translate(-4px, 4px);
  transform: rotate(-30deg) translate(-4px, 4px);
  background-color: #f7f5f1;
}

.burger-menu.open .bar2 {
  -webkit-transform: rotate(30deg) translate(-4px, -4px);
  transform: rotate(30deg) translate(-4px, -4px);
  background-color: #f7f5f1;
}

/* Cursor */
/* 
.cursor {
  width: 40px;
  height: 40px;
  border: 2px solid #fefefe;
  border-radius: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
  transition: all 150ms ease;
  transition-property:  opacity, background-color, transform, mix-blend-mode;
}

.cursor--clicked {
  transform: translate(-50%, -50%) scale(0.9);
  background-color: #fefefe;
}

.cursor--hidden {
  opacity: 0;
}

.cursor--link-hovered {
  transform: translate(-50%, -50%) scale(1.25);
  background-color: #fefefe;
} */

a {
  text-decoration: none;
  color: #22223B;
}

.nav-info a {
  font-family: 'Work Sans', sans-serif;
  padding-right: 40px;
  color: #22223B;
  font-size: 19px;
  font-weight: 400;
}

.nav-info a:last-child {
  padding-right: 90px;
}

.nav-info a:hover {
  color: #B48AB2;
  font-weight: 600;
}

.burger-menu {
  display: none;
}

/* Project */

.project, .project2 {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 200px;
}

.project .image img {
  padding: 0 100px 0 150px;
  max-height: 680px;
}

.project .description,
.project2 .description {
  padding-top: 200px;
  padding-right: 200px;
}

.project2 .image img {
  padding-left: 40px;
  max-height: 680px;
}

.tool {
  font-size: 15px;
  color: #2e7983;
  border-radius: 25px;
  background: #d4ece7;
  padding: 2px 12px;
  line-height: 1.5;
  vertical-align: middle;
  white-space: nowrap;
  display: inline-block;
  margin-right: 8px;
}

.period {
  font-size: 14px;
  color: #eefdff;
  border-radius: 20px;
  background: #B48AB2;
  padding: 3px 10px;
  line-height: 1.5;
  vertical-align: middle;
  white-space: nowrap;
  display: inline-block;
  margin-right: 8px;
}

/* About */

.About .project-content {
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 150px;
}

.About .me {
  max-width: 450px;
  padding-top: 50px;
}

.About .container {
  display: grid;
  grid-template-columns: 45% 55%;
}

.About .container .text {
  padding-top: 50px;
}

.About p, .About .text li, .About i {
  /* font-family: 'Bellota Text', sans-serif; */
  font-size: 17px;
  /* font-weight: normal; */
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;

}

.About li {
  padding-bottom: 20px;
}

b {
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  /* text-decoration: underline; */
  /* color: #54b4a1; */
}

.About .steptodesign {
  padding-top: 50px;
}

.twocolumns {
  display: grid;
  grid-template-columns: 50% 50%;
}

.column2 {
  padding-left: 50px;
}

.About p a {
  /* color: #3268ff; */
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Work Sans', sans-serif;
  color: #54b4a1;
  font-weight: 600;
}

.SnapAndDraw img {
  max-height: 250px;
}

.SnapAndDraw .Navbar {
  background-color: #fff;
}

.gallery {
  margin: auto;
  width: 80%;
  padding-top: 200px;
}

.gallery div img:hover {
  transform: scale(1.5);
}

.main-arrow {
  padding-top: 79px;
  padding-bottom: 79px;
}

#scroll-down {
  display: block;
  position: relative;
  text-align:center;
}
.arrow-down {
  display: block;
  margin: 0 auto;
  width: 10px;
  height: 38px;
}
.arrow-down:after {
  content: '';
  display: block;
  margin: 0;
  padding: 0;
  width: 8px;
  height: 8px;
  border-top: 3px solid #B48AB2;
  border-right: 3px solid #B48AB2;
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}
#scroll-down::before {
  -webkit-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
  /* Safari 4+ */
  
  -moz-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
  /* Fx 5+ */
  
  -o-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
  /* Opera 12+ */
  
  animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
  /* IE 10+, Fx 29+ */
  
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -1px;
  width: 3px;
  height: 90px;
  background: #B48AB2;
  content: ' ';
}
@-webkit-keyframes elasticus {
  0% {
      -webkit-transform-origin: 0% 0%;
      -ms-transform-origin: 0% 0%;
      -moz-transform-origin: 0% 0%;
      -o-transform-origin: 0% 0%;
      transform-origin: 0% 0%;
      -webkit-transform: scale(1, 0);
      -ms-transform: scale(1, 0);
      -moz-transform: scale(1, 0);
      -o-transform: scale(1, 0);
      transform: scale(1, 0);
  }
  50% {
      -webkit-transform-origin: 0% 0%;
      -ms-transform-origin: 0% 0%;
      -moz-transform-origin: 0% 0%;
      -o-transform-origin: 0% 0%;
      transform-origin: 0% 0%;
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -moz-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1);
  }
  50.1% {
      -webkit-transform-origin: 0% 100%;
      -ms-transform-origin: 0% 100%;
      -moz-transform-origin: 0% 100%;
      -o-transform-origin: 0% 100%;
      transform-origin: 0% 100%;
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -moz-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1);
  }
  100% {
      -webkit-transform-origin: 0% 100%;
      -ms-transform-origin: 0% 100%;
      -moz-transform-origin: 0% 100%;
      -o-transform-origin: 0% 100%;
      transform-origin: 0% 100%;
      -webkit-transform: scale(1, 0);
      -ms-transform: scale(1, 0);
      -moz-transform: scale(1, 0);
      -o-transform: scale(1, 0);
      transform: scale(1, 0);
  }
}
@-moz-keyframes elasticus {
  0% {
      -webkit-transform-origin: 0% 0%;
      -ms-transform-origin: 0% 0%;
      -moz-transform-origin: 0% 0%;
      -o-transform-origin: 0% 0%;
      transform-origin: 0% 0%;
      -webkit-transform: scale(1, 0);
      -ms-transform: scale(1, 0);
      -moz-transform: scale(1, 0);
      -o-transform: scale(1, 0);
      transform: scale(1, 0);
  }
  50% {
      -webkit-transform-origin: 0% 0%;
      -ms-transform-origin: 0% 0%;
      -moz-transform-origin: 0% 0%;
      -o-transform-origin: 0% 0%;
      transform-origin: 0% 0%;
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -moz-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1);
  }
  50.1% {
      -webkit-transform-origin: 0% 100%;
      -ms-transform-origin: 0% 100%;
      -moz-transform-origin: 0% 100%;
      -o-transform-origin: 0% 100%;
      transform-origin: 0% 100%;
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -moz-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1);
  }
  100% {
      -webkit-transform-origin: 0% 100%;
      -ms-transform-origin: 0% 100%;
      -moz-transform-origin: 0% 100%;
      -o-transform-origin: 0% 100%;
      transform-origin: 0% 100%;
      -webkit-transform: scale(1, 0);
      -ms-transform: scale(1, 0);
      -moz-transform: scale(1, 0);
      -o-transform: scale(1, 0);
      transform: scale(1, 0);
  }
}
@-o-keyframes elasticus {
  0% {
      -webkit-transform-origin: 0% 0%;
      -ms-transform-origin: 0% 0%;
      -moz-transform-origin: 0% 0%;
      -o-transform-origin: 0% 0%;
      transform-origin: 0% 0%;
      -webkit-transform: scale(1, 0);
      -ms-transform: scale(1, 0);
      -moz-transform: scale(1, 0);
      -o-transform: scale(1, 0);
      transform: scale(1, 0);
  }
  50% {
      -webkit-transform-origin: 0% 0%;
      -ms-transform-origin: 0% 0%;
      -moz-transform-origin: 0% 0%;
      -o-transform-origin: 0% 0%;
      transform-origin: 0% 0%;
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -moz-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1);
  }
  50.1% {
      -webkit-transform-origin: 0% 100%;
      -ms-transform-origin: 0% 100%;
      -moz-transform-origin: 0% 100%;
      -o-transform-origin: 0% 100%;
      transform-origin: 0% 100%;
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -moz-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1);
  }
  100% {
      -webkit-transform-origin: 0% 100%;
      -ms-transform-origin: 0% 100%;
      -moz-transform-origin: 0% 100%;
      -o-transform-origin: 0% 100%;
      transform-origin: 0% 100%;
      -webkit-transform: scale(1, 0);
      -ms-transform: scale(1, 0);
      -moz-transform: scale(1, 0);
      -o-transform: scale(1, 0);
      transform: scale(1, 0);
  }
}
@keyframes elasticus {
  0% {
      -webkit-transform-origin: 0% 0%;
      -ms-transform-origin: 0% 0%;
      -moz-transform-origin: 0% 0%;
      -o-transform-origin: 0% 0%;
      transform-origin: 0% 0%;
      -webkit-transform: scale(1, 0);
      -ms-transform: scale(1, 0);
      -moz-transform: scale(1, 0);
      -o-transform: scale(1, 0);
      transform: scale(1, 0);
  }
  50% {
      -webkit-transform-origin: 0% 0%;
      -ms-transform-origin: 0% 0%;
      -moz-transform-origin: 0% 0%;
      -o-transform-origin: 0% 0%;
      transform-origin: 0% 0%;
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -moz-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1);
  }
  50.1% {
      -webkit-transform-origin: 0% 100%;
      -ms-transform-origin: 0% 100%;
      -moz-transform-origin: 0% 100%;
      -o-transform-origin: 0% 100%;
      transform-origin: 0% 100%;
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -moz-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1);
  }
  100% {
      -webkit-transform-origin: 0% 100%;
      -ms-transform-origin: 0% 100%;
      -moz-transform-origin: 0% 100%;
      -o-transform-origin: 0% 100%;
      transform-origin: 0% 100%;
      -webkit-transform: scale(1, 0);
      -ms-transform: scale(1, 0);
      -moz-transform: scale(1, 0);
      -o-transform: scale(1, 0);
      transform: scale(1, 0);
  }
}

footer p {
  margin-block-start: 0;
  margin-block-end: 0;
}

/* mobile-friendly */


@media (min-width: 280px) and (max-width: 475px) {

  .Projects,
  .CnC,
  .About .project-content {
    padding-left: 15px;
    padding-right: 15px;
  }

  .Projects .Navbar,
  .CnC .Navbar {
    margin-left: -15px;
  }

  h1 {
    font-size: 22px;
  }
  
  p, ul, li, i {
    font-size: 16px;
  }

  ol {
    padding-inline-start: 20px;
  }

  .inlineblock {
    display: block;
  }

  .Logo {
    padding-left: 20px;
  }

  .Logo a {
    font-size: 30px;
  }

  .burger-menu {
    display: inline-block;
  }

  .nav-info {
    display: none;
  }

  /* .Navbar {
    background-color: #ffffff;
    padding: 40px 0 20px 0;
  } */

  .Greeting {
    padding-top: 200px;
    padding-left: 10;
    padding-right: 10;
    font-size: 35px;
  }

  .Greeting b {
    font-size: 35px;
  }

  .featuredintro, .featuredintro b {
    font-size: 30px;
  }

  .subhead {
    text-align: right;
  }

  #wording {
    border: 0;
    font-weight: bolder;
  }

  .About .container .image img {
    max-width: 250px;
  }

  .Menu li, .Menu li a {
    font-size: 35px;
  }

  /* Snap and draw */

  .SnapAndDraw img {
    max-width: 120%;
    height: auto;
  }

  .gallery {
    margin: 0;
  }

  .gallery div img:hover {
    transform: scale(1);
  }

  .Greeting {
    padding-top: 200px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 46px;
  }

  .Greeting b {
    font-size: 46px;
  }

  .subhead {
    text-align: right;
    padding-top: 120px;
    padding-left: 40px;
    padding-right: 30px;
  }

  .smile {
    margin-left: 100px;
    padding-top: 50px;
  }

  .featuredintro, .featuredintro b {
    padding-top: 100px;
  }

  .main-arrow {
    padding-bottom: 0;
  }

  .project-img img {
    width: 300px; /* width of container */
    height: 300px; /* height of container */
    object-fit: cover;
  }

  .project-img, .project-description {
    padding-left: 35px;
    padding-top: 0;
  }

  .project-link {
    margin-top: 0;
    margin-left: 100px;
  }

  .project-textbox {
    margin-right: 50px;
  }
}

@media (min-width: 591px) and (max-width: 990px)
{
  .subhead {
    text-align: right;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 50px;
  }
}

@media (min-width: 400px) and (max-width: 475px)
{

  .Greeting {
    padding-top: 200px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 46px;
  }

  .Greeting b {
    font-size: 46px;
  }

  .Logo {
    padding-left: 20px;
  }

  .burger-menu {
    display: inline-block;
  }

  .nav-info {
    display: none;
  }

  .subhead {
    text-align: right;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 50px;
  }

  .smile {
    margin-left: 10px;
    padding-top: 35px;
  }

  .featuredintro, .featuredintro b {
    padding-top: 100px;
  }

  .main-arrow {
    padding-bottom: 0;
  }

  .project-img img {
    width: 300px; /* width of container */
    height: 300px; /* height of container */
    object-fit: cover;
  }

  .project-img, .project-description {
    padding-left: 50px;
    padding-top: 0;
  }

  .project-link {
    margin-top: 0;
    margin-left: 230px;
  }

  .project-textbox {
    margin-right: 50px;
  }
  
  .App .twocolumns {
    display: initial;
  }

}

@media (min-width: 476px) and (max-width: 768px)
{
  /* body {
    padding-left: 10px;
    padding-right: 10px;
  } */

  /* .Navbar {
    background-color: #ffffff;
  } */

  .Greeting .Greeting b {
    font-size: 60px;
  }

  .subhead {
    text-align: right;
    padding-top: 100px;
    padding-left: 0;
    margin-right: 0;
  }

  .gallery div img:hover {
    transform: scale(1);
  }

  .project-textbox {
    margin-right: 180px;
  }
}

@media (min-width: 768px) and (max-width: 1148px)
{
  /* body {
    padding-left: 10px;
    padding-right: 10px;
  } */

  /* .Navbar {
    background-color: #ffffff;
    margin-left: -20px;
  } */

  .subhead {
    text-align: right;
    padding-left: 0;
  }

  /* Project */

}

@media (min-width: 476px) and (max-width: 768px)
{
  h1 {
    font-size: 22px;
  }
  
  p, ul, li, i {
    font-size: 16px;
  }

  .Greeting, .Greeting b {
    font-size: 70px;
  }

  .subhead {
    padding-right: 100px;
  }

  .smile {
    margin-left: 15px;
  }

  .star {
    margin-left: 530px;
  }

  .project-img, .project-description {
    padding-left: 150px;
  }

  .project-link {
    margin-left: 400px;
  }

  .App .twocolumns {
    display: initial;
  }

  .project-img img {
    width: 300px; /* width of container */
    height: 300px; /* height of container */
    object-fit: cover;
  }

  .project-description {
    padding-top: 0;
  }
}

@media (min-width: 769px) and  (max-width: 1024px)
{
  .About .container {
    display: grid;
    grid-template-columns: 100%;
    /* margin-bottom: 200px; */
  }

  .Greeting, .Greeting b {
    font-size: 80px;
  }

  .subhead {
    padding-right: 210px;
  }

  .smile {
    margin-left: 200px;
    margin-top: -40px;
  }

  .star {
    margin-left: 660px;
  }

  .project-textbox {
    margin-bottom: 100px;
  }

  .App .twocolumns {
    display: initial;
  }

  .project-link {
    margin-top: 120px;
    margin-left: 600px;
  }

  .project-img img {
    width: 400px; /* width of container */
    height: 400px; /* height of container */
    object-fit: cover;
  }

  .project-description {
    padding-top: 0;
  }

}

@media (min-width: 1025px) and (max-width: 1334px)
{
  .About .me {
    max-width: 350px;
  }

  .App .twocolumns {
    display: initial;
  }

  .project-link {
    margin-top: 120px;
    margin-left: 600px;
  }

  .project-img img {
    width: 400px;
    height: 400px;
    object-fit: cover;
  }

  .project-description {
    padding-top: 0;
  }
}

@media (min-width: 1550px)
{

  .Navbar {
    padding-top: 100px;
  }

  .Logo a {
    font-size: 80px;
    padding-left: 100px;
  }

  .nav-info a {
    font-size: 30px;
    padding-right: 70px;
  }

  .nav-info a:last-child {
    padding-right: 200px;
  }

  .Greeting {
    padding-top: 500px;
  }

  h1 {
    font-size: 30px;
  }
  
  p, b, ul, li, i {
    font-size: 24px;
  }

  .subhead {
    padding: 50px 500px;
    text-align: center;
  }

  .project-img {
    padding-left: 250px;
  }

  .project-link {
    margin-left: 900px;
  }

  .smile {
    visibility: hidden;
  }

}