/* text */

@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,400;1,500&display=swap');

@font-face {
  font-family: 'helvetica-neue';
  src:url('webfontkit-helveticaneue/helveticaneue_light-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'helvetica-neue';
  src: url('webfontkit-helveticaneue/helveticaneue_medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'helvetica-neue';
  src: url('webfontkit-helveticaneue/helvetica_neu_bold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'helvetica-neue';
  src: url('webfontkit-helveticaneue/helveticaneueit-webfont.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

* {
  font-family: 'helvetica-neue', sans-serif;
  overflow-x: hidden;
  color: #000000;
  background-color: transparent;
  scroll-behavior: smooth;
}

.App {
  background-color: #ffffff;
}

body {
  margin: 0;
  font-family: 'helvetica-neue', sans-serif;
}

.greeting:hover {
  mix-blend-mode: multiply;
}

span {
  font-family: 'Overpass Mono', monospace;
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 1.8;
}

h1 span {
  margin: 0;
  font-family: 'helvetica-neue', sans-serif;
  line-height: 100%;
  color: rgb(120, 136, 209);
}

span b {
  font-family: 'Overpass Mono', monospace;
  font-weight: 600;
  font-size: 0.9rem;
}

h1, h2, h3, h4, p, i, h1 span {
  font-weight: 400;
}

p, li {
  line-height: 1.8;
}

li:not(:last-child) { 
  margin-bottom: 1rem;
}

b {
  font-weight: 600;
}

h1, h1 span {
  /* font-family: 'Lora', serif; */
  font-size: 3rem;
}

h2 {
  font-family: 'Lora', serif;
  font-size: 2.2rem;
}

h3 {
  font-family: 'Lora', serif;
  font-size: 1.8rem;
}

p {
  font-size: 1rem;
}

blockquote {
  font-family: 'Lora', serif;
  font-style: italic;
  color: #a5a5a5;
  font-size: 1.8rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

::selection {
  background: rgba(248, 243, 235, 0.99);
  color: #000;
}

.w-stroke {
  color: #ffffff;
  -webkit-text-stroke: 1px black;
}

.home-project-wrap a {
  text-decoration: none;
}

.home-project-wrap a:hover h1{
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

.home-project-wrap a:hover,
.home-project-wrap div:hover {
  mix-blend-mode: multiply;
}

.home-project-wrap h1  {
  margin-block-start: 0;
  font-size: 2.5rem;
}

.home-project-wrap p {
  color: #a5a5a5;
  margin-block-end: 0;
}

.home-project-wrap div {
  padding-bottom: 10px;
}

.home-project-wrap div:last-child {
  padding-bottom: 0;
}

/* img */

img {
  width: 100%;
}

.centeredimg img {
  max-width: 40vw;
}

/* wrapper */

.wrapper {
  margin: 0px auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 32px 36px;
  padding-bottom: 50px;
  padding-top: 50px;
}

.wrapper {
  row-gap: 28px;
}

.wrapper:first-of-type {
  padding-top: 8rem;
}

.wrapper .col1-start {
  grid-column-start: 1;
}

.wrapper .col2-start {
  grid-column-start: 2;
}

.wrapper .col3-start {
  grid-column-start: 3;
}

.wrapper .col4-start {
  grid-column-start: 4;
}

.wrapper .col5-start {
  grid-column-start: 5;
}

.wrapper .col6-start {
  grid-column-start: 6;
}

.wrapper .col7-start {
  grid-column-start: 7;
}

.wrapper .col8-start {
  grid-column-start: 8;
}

.wrapper .col1-end {
  grid-column-end: 1;
}

.wrapper .col2-end {
  grid-column-end: 2;
}

.wrapper .col3-end {
  grid-column-end: 3;
}

.wrapper .col4-end {
  grid-column-end: 4;
}

.wrapper .col5-end {
  grid-column-end: 5;
}

.wrapper .col6-end {
  grid-column-end: 6;
}

.wrapper .col7-end {
  grid-column-end: 7;
}

.wrapper .col8-end {
  grid-column-end: 8;
}

.wrapper .col9-end {
  grid-column-end: 9;
}

/* navbar */

.Navbar {
  padding: 30px 0 20px 0;
  display: block;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  transition: top 0.6s;
}

.Navbar {
  z-index: 0;
}

.previous-next {
  padding: 40px;
  display: flow-root;
  position: relative;
}

.left, .previous {
  float: left;
  padding-left: 40px;
}

.right, .next {
  float: right;
  padding-right: 40px;
}

.App .Navbar {
  background-color: transparent;
}

.Navbar a,
.previous-next a {
  text-decoration: none;
}

.Navbar a:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.previous-next a:hover h1{
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

.previous-next p {
  color: #a5a5a5;
  margin-block-end: 0;
}

.previous-next h1 {
  margin-block-start: 0;
  font-size: 2.5rem;
}

.nav-info {
  display: grid;
}

/* Footer */

footer a {
  text-decoration: none;
}

footer a:hover,
footer a:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

footer .col1-start {
  padding-left: 40px;
}

footer .col9-end {
  padding-right: 40px;
  display: inline-table;
}

footer p {
  margin-block-start: 0;
  margin-block-end: 0;
}

/* padding */

.paddingtop50 {
  padding-top: 50px;
}

.paddingtop100 {
  padding-top: 100px;
}

/* about */

.About {
  background-color: #000;
}

.About h1,
.About h2,
.About p,
.About b,
.About a,
.About li,
.About i,
.About span {
  color: #fff;
}

.About a {
  text-underline-offset: 2px;
}

.About a:hover {
  background-color: rgb(215, 216, 170);
  color: #000;
}

.About b {
  color: rgb(215, 216, 170);
}

/* interactive */

.Interactive {
  background-color: #000;
}

.Interactive h1,
.Interactive h2,
.Interactive h3,
.Interactive p,
.Interactive b,
.Interactive i,
.Interactive a,
.Interactive span {
  color: #fff;
}

.Interactive .Menu li,
.Interactive .Menu li a,
.About .Menu li,
.About .Mene li a {
  color: #fff;
}

.Interactive a {
  text-decoration: none;
}

.interactive-project {
  position: relative;
  text-align: center;
}

.interactive-project span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.interactive-project a:hover img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.heart-hand img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.heart-hand span {
  background-color: #000;
  opacity: 70%;
}

/* .Interactive span {
  font-size: 1.5rem;
  z-index: 100;
} */


/* Burger */

.burger-menu,
.burger-menu.open {
  display: inline-block;
  cursor: pointer;
  position: relative;
  z-index: 9999;
  border-radius: 25px;
  background-color: transparent;
}

.burger-menu .bar1,
.burger-menu .bar2 {
  width: 30px;
  height: 1px;
  background-color: #000;
  margin: 7px 0;
  transition: 0.4s;
}

.burger-menu.open .bar1 {
  -webkit-transform: rotate(-30deg) translate(-4px, 4px);
  transform: rotate(-30deg) translate(-2px, 2px);
  background-color: #fff;
}

.burger-menu.open .bar2 {
  -webkit-transform: rotate(30deg) translate(-4px, -4px);
  transform: rotate(30deg) translate(-4px, -4px);
  background-color: #fff;
}

.Interactive .burger-menu .bar1,
.Interactive .burger-menu .bar2,
.Interactive .burger-menu.open bar1,
.Interactive .burger-menu.open bar2,
.About .burger-menu .bar1,
.About .burger-menu .bar2,
.About .burger-menu.open bar1,
.About .burger-menu.open bar2 {
  background-color: #fff;
}

.burger-menu {
  display: none;
}


/* screen sizes */

@media (max-width: 426px)
{
  .wrapper {
    position: relative;
    display: inline-block;
    padding: 30px 20px;
  }

  .Projects ul, .Projects ol {
    padding-inline-start: 0;
  }

  footer .col1-start {
    padding-left: 0;
  }

  h1, h1 span {
    font-size: 1.7rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  /* .Interactive span {
    font-size: 1rem;
  } */

  .Navbar {
    z-index: 999;
  }

  .left {
    padding-left: 20px !important;
  }
  
  .right {
    padding-right: 20px !important;
  }

  .burger-menu {
    display: inline-block;
  }

  .nav-info {
    display: none;
  }
}

@media (min-width:426px) and (max-width: 768px)
{
  .wrapper {
    position: relative;
    display: inline-block;
    padding: 60px 45px;
  }

  .Projects ul, .Projects ol {
    padding-inline-start: 0;
  }

  footer .wrapper,
  NavBar .wrapper {
    padding: 0;
  }

  footer .col1-start,
  footer .col9-end {
    padding: 0;
  }

  .wrapper div {
    margin-bottom: 32px;
  }

  .About .wrapper div {
    margin-bottom: 0;
  }
  
  .Navbar {
    z-index: 999;
  }

  /* .Interactive span {
    font-size: 1.3rem;
  } */
}