.Work .Navbar {
  background-color: #fff;
}

.allworks {
  padding: 160px 120px 0 120px;
}

.work-img {
  /* max-width: 400px; */
  width: 350px; /* width of container */
  height: 350px; /* height of container */
  object-fit: cover;
}

.work-wrapper {
  padding-bottom: 100px;
}
